@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
::before,
::after {
  font-family: 'Epilogue', sans-serif;
  background-color: #d5e3e0;
}
.bg-main {
  background-color: #0c482f;
}
.text-main {
  color: #0c482f;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -30px; gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  /* padding-left: 30px; gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
